[Unit]
Description=Personal Dashboard API
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/projects/github.com/diogovalentte/dashboard/
ExecStart=/usr/local/go/bin/go run /home/ubuntu/projects/github.com/diogovalentte/dashboard/main.go
Restart=on-failure
StandardOutput=append:/var/log/dashboard-api.log
StandardError=append:/var/log/dashboard-api.log
SystemMaxUse=100M
SystemKeepFree=50M
SystemMaxFiles=3

[Install]
WantedBy=multi-user.target
