[Unit]
Description=Personal Dashboard
After=dashboard-api.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/projects/github.com/diogovalentte/dashboard/
ExecStart=/home/ubuntu/projects/github.com/diogovalentte/dashboard/.venv/bin/streamlit run 01_🏠_Main_Page.py
Restart=on-failure
StandardOutput=file:/var/log/dashboard.log
StandardError=file:/var/log/dashboard.log
SystemMaxUse=100M
SystemKeepFree=50M
SystemMaxFiles=3

[Install]
WantedBy=multi-user.target
